body {
  max-width: 800px;
  margin: auto;
  background-color: #e6e1d2;
  color: black;
}

h2 {
  color: #825e20;
  text-align: center;
  font-family: "Sarina", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

h3 {
  color: #e6e1d2;
  background-color: #825e20;
  text-align: center;
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

div {
  color: #825e20;
  text-align: center;
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

li {
  color: #825e20;
  text-align: center;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
}

p {
  text-align: center;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.border_curve {
  border-radius: 40px;
  border: 4px solid #825e20;
  width: fit-content;
}
